html {
    font-family: 'Playfair Display', serif;
}

.top-nav navbar navbar-expand-lg navbar-dark bg-dark {
    background-color: #4E2A84 !important;
}

.navbar,
.navbar-default {
    background-color: #4E2A84 !important;
}

.top-nav {
    background-color: #4E2A84 !important;
    position: relative; /* change to fixed? */
    width: 100%;
    margin: 0 auto;
    color: white;
  }

.nav-link{
    color: white !important;
}


  /*
  nav.top-nav ul {
    list-style: none;
    padding: 2px;
    text-align: left;
    margin-left: -10px; 
  }

  nav.top-nav li {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 20px;
    margin: 15px;
    display: inline-block;
    padding: 0px;
    user-select: none;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  nav.top-nav li a {
    text-decoration: none;
    color: white;
  }
  
  nav.top-nav li:hover {
    text-decoration: underline;
  }
  */

  .alumni-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
  }

  .alumni-item-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 400px;
    height: 400px;
    min-width: 400px;
    min-height: 400px;
    padding: 20px;
    margin: 40px;
    flex-direction: column;
    border: 1px lightgray solid;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: black;
  }

  .title {
    font-family:'Playfair Display', serif;
    font-size: 36px;
    color: black;
    text-align: center;
    margin-top: 0px;
  }

  .profile-img {
    width: 150px;
    height: 200px;
    object-fit: cover;    
    border-radius: 5px;
  }

  .alumni-name {
    font-size: 30px;
    font-weight: bold;
  }
