
 
.wrapper {
  margin: 0 auto;
  width: 800px;
  font-family: 'Playfair Display', serif;
}


.title {
  font-family:'Playfair Display', serif;
  color: black;
  text-align: center;
  padding: 10px;
}

.samir-bio {
    max-width: 800px;
}


.bio-text {
    color: black;
    font-size: 20px;
    margin-top: -5px;
    text-align: justify;
    text-justify: inter-word;
}

.award {
  font-size: 20px;
  max-width: 800px;
  padding: 10px;
}
