
 
.samir-bio-wrapper {
  margin: 0 auto;
  max-width: 800px;
  
}


.samir-bio-title {
  
  font-size: 36px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 40px;
}

.awards-title {
  
  color: black;
  text-align: center;
  padding: 10px;
}



.samir-bio-text {
    color: black;
    font-size: 20px;
    margin-top: -5px;
    text-align: justify;
}

.award-item {
  font-size: 20px;
  padding: 10px;
}
