.samir-bio-container {
  display: flex;
  margin: 10px;
  flex-direction: column;
  max-width: 800px;
  justify-content: center;
  color: black;
  margin-left: 310px;
}

.samir-bio-title {
  font-size: 36px;
  margin-top: 40px;
  text-align: center;
}

.awards-title {
  text-align: center;
  padding: 10px;
  font-size: 36px;
}

.samir-bio-text {
  font-size: 20px;
  margin-top: -5px;
  text-align: justify;
}

.award-item {
  font-size: 20px;
  padding: 10px;
} 
