
.prof-e-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.prof-e-item-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 400px;
  height: 400px;
  min-width: 400px;
  min-height: 400px;
  padding: 20px;
  margin: 40px;
  flex-direction: column;
  border: 1px lightgray solid;
  text-align: center;
  
  font-size: 10px;
  color: black;
}


.prof-e-title {
  
  font-size: 36px;
  color: black;
  text-align: center;
  margin-bottom: -5px;
  margin-top: 40px;
}
.motwani-img {
  border-radius: 10px;
  margin: 10px;
  max-width: 60px;
  max-height: 50px;
}
.workshop-img {
  border-radius: 10px;
  margin: 10px;
  max-width: 60px;
  max-height: 50px;
}

.event-link {
  color: black;
}

.e-name {
  font-size: 24px;
}

.e-link {
  color: black;
}

.prof-e-img {
  width: 200px;
  height: 200px;
  object-fit: cover;    
  border-radius: 5px;
}