

  a:link {
    color: black;
  }
  a:hover {
    color: red;
  }

  

  .pub-link {
    color: black;
  }
  .pub-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    font-size: 18px;
    color: black !important;
  }

  .pub-title {
    
    font-size: 36px;
    color: black;
    text-align: center;
    margin-top: 40px;
  }

  .title-wrapper {
    margin: 0 auto;
  }
  