

  a:link {
    color: black;
  }
  a:hover {
    color: red;
  }

  

  .pub-link {
    color: black;
  }
  .pub-wrapper {
    margin: 0 auto;
    width: 800px;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: black !important;
  }

  .title {
    font-family:'Playfair Display', serif;
    font-size: 36px;
    color: black;
    text-align: center;
    margin-top: 40px;
  }

  .title-wrapper {
    width: 800px;
    margin: 0 auto;
  }
  