
.course-link {
  color: black;
}

.teaching-title {
  font-family:'Playfair Display', serif;
  font-size: 36px;
  color: black;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.teaching-wrapper {
  margin: 0 auto;
  font-family: 'Playfair Display', serif;
}

  

.grid-container {
  display: grid;
  max-width: 800px;
  grid-template-columns: 130px auto;
  background-color:  #4E2A84;
  padding: 1px;
  font-family: 'Playfair Display', serif;
  margin: auto;
  
}

.grid-item {
  background-color: white;
  border: 1px solid #4E2A84;
  padding: 20px;
  font-size: 16px;
  text-align: left;
}

#grid-title{
  font-weight: bolder;
}
