

.course-link {
  color: black;
}

.title {
  font-family:'Playfair Display', serif;
  font-size: 36px;
  color: black;
  text-align: center;
  margin-top: 40px;
}

.teaching-wrapper {
  margin: 0 auto;
  width: 700px;
  font-family: 'Playfair Display', serif;
}

  

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color:  #4E2A84;
  padding: 5px;
}

.grid-item {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 16px;
  text-align: left;
}

#grid-title{
  font-weight: bolder;
}